<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta naem="Keywords" content="demo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome my demo web - New</title>
    <!-- 網站字型-->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <!--網站小圖示 -->
    <!-- <link rel="shorcut icon" href="images/icon-main.ico"> -->
    <!-- 歸零CSS    -->
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 變數設定CSS-->
    <link rel="stylesheet" href="../css/basic.css">
    <!-- 設定版面CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- JQeury setting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/gotop.js"></script>
</head>

<body>
    <div id="header">
        <div id="logo">
            <h1>
                <span>
                    Weapon
                    <a href="index.html"></a>
                </span>
            </h1>
        </div>
        <div id="nav">
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="stores.html">Stores</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="New.html" class="highlight_txt">New</a>
                    <ul>
                        <li><a href="New_lady.html">Lady</a></li>
                        <li><a href="New_girl.html">Girl</a></li>
                        <li><a href="New_child.html">Child</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- 橫幅區塊 -->
    <div class="hero-image"
        style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(../images/Hololive123.png);">
        <div class="hero-text">
            <h1 class="font-size-50 line-height_15">Hololive</h1>
            <p class="margin_bottom-20">check out it</p>
            <button>fuck</button>
        </div>
    </div>
    <!-- 內容區塊 -->
    <div id="main-content">
        <h2 class="color_pink text-align_center margin_bottom-20">Hololive</h2>
        <div class="features_box">
            <div class="pic_circle"></div>
            <div class="pic_circle"></div>
            <div class="pic_circle"></div>
        </div>
    </div>
    <div class="full_layout bg_piggy margin_v5 padding_bottom-30">
        <div class="small_layout back_line">
            <div class="step">
                <span>1</span>
                <h4>Step #1</h4>
                <p>Hololive</p>
                <p>Hololive</p>
                <p>Hololive</p>
            </div>
            <div class="step">
                <span>2</span>
                <h4>Step #2</h4>
                <p>Hololive</p>
                <p>Hololive</p>
                <p>Hololive</p>
            </div>
            <div class="step">
                <span>3</span>
                <h4>Step #3</h4>
                <p>Hololive</p>
                <p>Hololive</p>
                <p>Hololive</p>
            </div>
        </div>
    </div>
    <div class="full_layout bg_piggy padding_v3">
        <div id="main-content">
            <h2 class="color_pink">contact us</h2>
            <div id="contact_form">
                <form action="" method="GET">
                    <input type="text" name="username" id="username" placeholder="Your Name">
                    <input type="text" name="usermail" id="usermail" placeholder="Your Mail">
                    <input type="text" name="userphone" id="userphone" placeholder="Your Phone">
                    <textarea name="useropinion" id="useropinion" placeholder="Leave Your Message Here"></textarea>
                    <input type="submit" value="submit" class="button_pink-gradient cursor_pointer"
                        onclick="alert('Thank You!!\n We will resond as soon as!')">
                </form>
            </div>
            <div id="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3106.279057867436!2d-77.05845558424268!3d38.87185677957456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b6df29ed2c27%3A0xaf83d0f8c013532f!2z5LqU6KeS5aSn5qiT!5e0!3m2!1szh-TW!2stw!4v1660999067841!5m2!1szh-TW!2stw"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div id="footer">
        <div id="small-logo">
            <img src="" alt="">
        </div>
        <div id="copyright">
            <small>Copyright 2022 Weapon</small>
            <a href="tel:+123456789">tel:+123456789</a>
        </div>
        <div id="sns">
            <a href="#" target="_blank">
                <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <a href="#" target="_blank">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="#" target="_blank">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a href="#" target="_blank">
                <span>
                    <ion-icon name="logo-linkedin"></ion-icon>
                </span>
            </a>
        </div>
    </div>
    <!-- Go Top  -->
    <div id="gotop">
        <ion-icon class="arrow-up-circle-outline" name="arrow-up-circle-outline"></ion-icon>
        <span class="gotip">Go Back To Top</span>
    </div>
    <!-- ionicon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>